<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users page showallpeople</title>
</head>
<body>
<h2>All users page showallpeople</h2>

<div th:each="user : ${users}">

  <a th:href="@{/people/{id}(id=${user.getId()})}"
     th:text="${user.getName()}">user</a>


<!--  <th:block th:each="msg : ${messages}">-->
<!--    <h1 th:text="${msg}"></h1>-->
<!--  </th:block>-->

</div>

<br/>
<hr/>

<a href="/Task_2_3_1_050721_war_exploded/people/new">Create new user</a>

</body>
</html>